.userBox {
  display: flex;
  align-items: center;
  color: #2b3331;
  font-weight: bold;
  cursor: pointer;
}

.userBoxContainer {
  display: flex;
  align-items: center;
}

.userBoxName:not(:empty) {
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.userBoxNickName:not(:empty) {
  margin-left: 0.5rem;
  font-weight: normal;
  margin-bottom: 0;
}
