.upload-tag {
  cursor: pointer;
  padding: 10px 20px;
  white-space: nowrap;
  color: var(--color-typo-secondary);
  background-color: rgba(45, 189, 88, 0.1);
  border: 1px solid rgba(45, 189, 88, 0.4);
  border-radius: var(--border-radius-l);
  margin-right: 2px;
}

@media screen and (max-width: 767px) {
  .upload-tag {
    padding: 3px 8px;
  }
}

.upload-tag_active {
  font-weight: 700;
  color: var(--color-bg-essential);
  background-color: var(--color-link);
  border-color: var(--color-link);
}
