.news-nav {
  padding-left: 0;
  list-style: none;
}

.news-nav__item {
  margin-right: 0 !important;
  font-size: var(--size-text-2xl);
  line-height: var(--line-height-text-2xs);
  padding-right: 80px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
  .news-nav__item {
    padding-right: 40px;
  }
}

@media screen and (max-width: 992px) {
  .news-nav__item {
    padding-right: 20px;
  }
}

.news-nav__item a {
  text-decoration: none;
}

.news-nav__link {
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 8px;
  color: var(--color-typo-secondary) !important;
}

.news-nav__link:hover,
.news-nav__link:focus,
.news-nav__link:active {
  text-decoration: none;
  color: var(--color-link) !important;
}

.news-nav__link_active {
  position: relative;
  font-weight: bold;
  color: var(--color-link) !important;
}

.news-nav__link_active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-link);
}

/* News Tabs Style */
.news-tabs .rts___btn {
  border: none !important;
  border-radius: 0 !important;
}

.news-tabs .rts___tab {
  padding-left: 0 !important;
}

.news-tabs .rts___tab___selected {
  color: #2dbd58 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  font-weight: bold;
  position: relative;
}

.news-tabs .rts___tab___selected::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  border-bottom: 3px solid #2dbd58;
  left: 0%;
}

@media (max-width: 767px) {
  .news-tabs .rts___tab___selected::after {
    width: calc(100% - 20px);
  }
}
.news-tabs .rts___nav___btn:hover {
  background-color: transparent !important;
  transition: 0.5s all;
}

.rts___nav___btn > svg {
  width: 18px;
  height: 18px;
}
.rts___nav___btn:hover > svg {
  stroke: #2dbd58 !important;
}
