.progress_theme_isabi {
  height: 8px;
  background-color: rgba(191, 193, 193, 0.1);
  border-radius: var(--border-radius-s);
}

.progress_theme_isabi .progress-bar {
  background-color: rgba(43, 51, 49, 0.8);
}

.progress_theme_isabi .progress-bar {
  background-color: rgba(43, 51, 49, 0.8);
  border-right: 1px solid var(--color-bg-essential);
}

.progress_theme_isabi .progress-bar.bg-success {
  background-color: var(--color-link);
}

.progress_theme_uploading {
  height: 2px;
  background-color: var(--color-bg-border);
  border-radius: 0;
}

.progress_theme_uploading .progress-bar {
  background-color: var(--color-link);
}
