.commeBackButton__icon {
  z-index: 42;
  cursor: pointer;
  position: absolute;
  color: var(--color-link);
  font-size: 3.5rem !important;
  transform: rotate(180deg) translateX(10px);
  -webkit-transform: rotate(180deg) translateX(10px);
  -moz-transform: rotate(180deg) translateX(10px);
  -ms-transform: rotate(180deg) translateX(10px);
  -o-transform: rotate(180deg) translateX(10px);
  top: 0;
  left: 0;
}
.commeBackButton__icon:hover {
  color: var(--color-link-hover);
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
