.icon {
  display: inline-block;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon::after {
  visibility: hidden;
  content: '\00A0';
}

.icon_size_m {
  width: 16px;
  height: 16px;
  line-height: 16px;
}

.icon_size_l {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.icon_size_xl {
  width: 46px;
  height: 46px;
  line-height: 46px;
}

.icon_name_plus {
  background-image: url(icon_name_plus.svg);
}

.icon_name_search {
  background-image: url(icon_name_search.svg);
}

.icon_name_search2 {
  background-image: url(icon_name_search2.svg);
}

.icon_name_search-navbar {
  background-image: url(icon_name_search-navbar.svg);
}

.icon_name_flag {
  background-image: url(icon_name_flag.svg);
}

.icon_name_flag-dark {
  background-image: url(icon_name_flag-dark.svg);
}

.icon_name_flag-light {
  background-image: url(icon_name_flag-light.svg);
}

.icon_name_views {
  background-image: url(icon_name_views.svg);
}

.icon_name_views-dark {
  background-image: url(icon_name_views-dark.svg);
}

.icon_name_likes {
  background-image: url(icon_name_likes.svg);
}

.icon_name_likes-dark {
  background-image: url(icon_name_likes-dark.svg);
}

.icon_name_like {
  background-image: url(icon_name_like.svg);
}

.icon_name_comments {
  background-image: url(icon_name_comments.svg);
}

.icon_name_chevron {
  background-image: url(icon_name_chevron.svg);
}

.icon_name_edit {
  background-image: url(icon_name_edit.svg);
}

.icon_name_edit-grey {
  background-image: url(icon_name_edit-grey.svg);
}

.icon_name_upload {
  background-image: url(icon_name_upload.svg);
}

.icon_name_uploader {
  background-image: url(icon_name_uploader.svg);
}

.icon_name_subscription {
  background-image: url(icon_name_subscription.svg);
}

.icon_name_payment {
  background-image: url(icon_name_payment.svg);
}

.icon_name_parental {
  background-image: url(icon_name_parental.svg);
}

.icon_name_setings {
  background-image: url(icon_name_setings.svg);
}

.icon_name_users {
  background-image: url(icon_name_users.svg);
}

.icon_name_lock {
  background-image: url(icon_name_lock.svg);
}

.icon_name_lock-subs {
  background-image: url(icon_name_lock-subs.svg);
}

.icon_name_config {
  background-image: url(icon_name_config.svg);
}

.icon_name_more {
  background-image: url(icon_name_more.svg);
}

.icon_name_more-green {
  background-image: url(icon_name_more-green.svg);
}

.icon_name_more-dots {
  background-image: url(icon_name_more-dots.svg);
}

.icon_name_logout {
  background-image: url(icon_name_logout.svg);
}

.icon_name_logout-red {
  background-image: url(icon_name_logout-red.svg);
}

.icon_name_danger {
  background-image: url(icon_name_danger.svg);
}

.icon_name_paypal {
  background-image: url(icon_name_paypal.svg);
}

.icon_name_googlepay {
  background-image: url(icon_name_googlepay.svg);
}

.icon_name_cancel {
  background-image: url(icon_name_cancel.svg);
}

.icon_name_delete {
  background-image: url(icon_name_delete.svg);
}

.icon_name_delete-light {
  background-image: url(icon_name_delete-light.svg);
}

.icon_name_pause {
  background-image: url(icon_name_pause.svg);
}

.icon_name_deny {
  background-image: url(icon_name_deny.svg);
}

.icon_name_add-list {
  background-image: url(icon_name_add-list.svg);
}

.icon_name_facebook {
  background-image: url(icon_name_facebook.svg);
}

.icon_name_instagram {
  background-image: url(icon_name_instagram.svg);
}

.icon_name_twitter {
  background-image: url(icon_name_twitter.svg);
}

.icon_name_google {
  background-image: url(icon_name_google.svg);
}

.icon_name_apple {
  background-image: url(icon_name_apple.svg);
}

.icon_name_favorite {
  background-image: url(icon_name_favorite.svg);
}

.icon_name_favorite-green {
  background-image: url(icon_name_favorite-green.svg);
}

.icon_name_download-green {
  background-image: url(icon_name_download-green.svg);
}

.icon_name_share-green {
  background-image: url(icon_name_share-green.svg);
}

.icon_name_library {
  background-image: url(icon_name_library.svg);
}

.icon_name_arrow-right {
  background-image: url(icon_name_arrow-right.svg);
}

.icon_name_signin-arrow {
  background-image: url(icon_name_signin-arrow.svg);
}

.icon_name_filter {
  background-image: url(icon_name_filter.svg);
}

.icon_name_clear {
  background-image: url(icon_name_clear.svg);
}

.icon_name_send {
  background-image: url(icon_name_send.svg);
}

.icon_name_play-green {
  background-image: url(icon_name_play-green.svg);
}

.icon_name_play {
  background-image: url(icon_name_play.svg);
}

.icon_name_show {
  background-image: url(icon_name_show.svg);
}
