.tabs__panel {
  margin-bottom: 24px;
}

.tabs__list {
  display: flex;
}

.tabs__list .tab__item + .tab__item {
  margin-left: 24px;
}

@media only screen and (max-width: 767px) {
  .tabs__list .tab__item + .tab__item {
    margin-left: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .tab__item a {
    font-size: 16px !important;
    font-weight: bold;
  }
}

.tabs__list .tab__link {
  padding: 0.75rem 0;
  transition: background 0.2s ease-in-out;
  color: var(--color-typo-secondary);
  border-radius: 0;
  font-size: 18px;
}

.tabs__list .tab__link.active {
  color: var(--color-typo-secondary);
  background-color: transparent;
  border-bottom: 2px solid var(--color-link);
}

.tabs__list .tab__link:hover {
  color: #333;
}

.tabs__list .tab__link.active:hover {
  color: var(--color-typo-secondary);
  background-color: transparent;
  border-color: var(--color-link-hover);
}
